table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table_area {
  margin-top: 120px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

td,
th {
  border: 1px solid #9b9b9b;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.footer_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.input_area {
  width: 50%;
}
.input_area h4 {
  text-decoration: underline;
}
