.addedit_area {
  margin-top: 40px;
  margin-bottom: 80px;
}

input,
textarea {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 400;
}
textarea {
  min-height: 60px;
  max-height: 80px;
}
button {
  background-color: #222831;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  border: 2px solid #222831;
  color: #fff;
}
button:hover {
  padding: 8px 16px;
  background-color: #ffff;
  border: none;
  color: #10a19d;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid #10a19d;
}
