.menu_area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10a19d;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0;
}
.navbar li {
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  transition: 0.3s;
  font-weight: 600;
}
.navbar li a {
  color: #eeeeee;
  position: relative;
}
.navbar li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #222831;
  transition: 0.3s;
}
.navbar li a:hover {
  color: #222831;
}
.navbar li a:hover::after {
  width: 100%;
}
